@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #000000;
  --background-color: #ffffff;

  scrollbar-gutter: stable;
}

.dark {
  --text-color: #ffffff;
  --background-color: #000000;
}
